/*.hero-slide {
    animation-duration: 4000ms;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-name: bounce;
    overflow:hidden;
    animation-fill-mode: forwards;
    
}

@keyframes bounce {
    from {
       margin-left: 100%;
       width: 300%;
    }
    to {
        margin-left: 70%;
        width: 100%;
    }
}*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');



#Top-Banner {
    display: flex;
    justify-content:space-between;
    background-color:rgb(141, 141, 141);
}

.title {
    text-decoration: underline;
    justify-content: left;
    text-align: center;
    color:white;
    margin-left: 8vw;
}

#logoTemplate {
    max-width: 10vh;
    max-height: 15vh;
    justify-content: center;
    /*margin-top: 30px;*/
    padding: 10px;
    color:white;
    /* border: white solid 12px;
    border-radius: 100px 100px;*/
}

.logo {
    border: white solid 12px;
    border-radius: 200px;
    color:white;
    padding:15px;
}

.telNumber {
    justify-content: right;
    padding-top:15px;
    font-size: x-large;
    color:white;
    margin-right: 8vw
}